// FONTS
$body-font: ('Montserrat', sans-serif);

// COLORS
$text-light-color: #909090;
$text-dark-color: #333333;
$text-btn-color: #ffffff;
$text-heading-color: #7358fb;

//Direction of gradients
$direction: 90deg;

// Small buttons gradient colors
$first-color: #7257fb;
$second-color: #bf7de7;

// Rotated Dot color
$dot-color-first: #d59fbf;
$dot-color-second: #f3d6aa;

// Big button color
$btn-big-color: #a971ed;

//MEDIA WIDTH

$desktop: 1236px;
$tablet: 1180px;
$phablet: 768px;
$phone: 415px;
$phone-s: 361px;
