// IMPORT
@import 'variables';
@import 'mixins';
@import 'reset';

// GENERAL STYLES

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  overflow: hidden;
}

body {
  background: url(/img/bg.png) center no-repeat;
  overflow: hidden;
  font-size: 100%;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

//  ***** LEFT SLIDEA AREA *****

.slides {
  width: 300vw;
  height: 100vh;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;

  .slide {
    height: 100vh;
    width: 100vw;
    float: left;
    text-align: center;
    background-size: cover;

    .content {
      position: relative;
      width: 42%;
      height: 90%;
      left: 18%;
      top: 5vh;
      bottom: 10%;
      background: #fff;
    }
  }
}

////

// ***** Personal styles for Slide 2 *****
#slide2 {
  .box-header {
    border-radius: 5px;
    height: 200px;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    text-align: left;
    padding: 2rem 1.5rem;

    .logo {
      img {
        width: 25%;
        margin-left: 3rem;
      }
      p {
        margin-top: 3rem;
        margin-left: 3rem;
        font-size: 1.8rem;
      }
    }
  }
  .boxes {
    border-radius: 5px;
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .link {
      background: url(../img/bg-test-box.png) no-repeat;
      background-position: right bottom;
      background-size: 70%;
      padding: 41px 30px;
      min-height: 144px;
      border-radius: 5px;
      flex: 0 0 49%;
      margin-bottom: 12px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      text-align: left;
      opacity: 0.7;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        opacity: 1;
      }

      p {
        font-size: 0.9rem;
        margin: 5px 15px;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 600;
        color: $first-color;
        width: 25%;
      }

      img {
        float: left;
        width: 4vw;
      }
    }
  }
}
// ***** Personal styles for Slide 1 & Slide 3 *****
#slide1,
#slide3 {
  .content-slide1 {
    padding: 15px;
    text-align: left;
    background: url(../img/bg-test.png) no-repeat;
    background-position: center bottom;
    background-size: 150%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);

    .wrapper {
      margin: 1rem 4.5rem;

      .logo {
        img {
          width: 30%;
        }
      }
      h1 {
        margin: 50px 0 25px 0;
        width: 70%;
        color: $first-color;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 3.5rem;
        line-height: 1;
      }
      p {
        padding: 10px 0;
        line-height: 1.5;
        font-weight: 500;
        font-size: 1.2rem;
      }

      a,
      .btn-submit {
        display: inline-block;
        margin-top: 10px;
        padding: 0.8rem 4rem;
        border-radius: 25px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        @include gradient-btn($direction, $list1);
        border: 0;
        transition: 0.3s;

        &:hover {
          padding: 0.8rem 4.5rem;
        }
      }
    }
  }
  .form {
    .input {
      padding: 0.8rem;
      width: 250px;
      margin: 0 5px;
      border-radius: 25px;
      border: 1px solid #d2d2d2;
      font-size: 1rem;
      font-weight: 600;
      opacity: 0.7;

      &:valid:not(:placeholder-shown) {
        border-color: green;
      }

      &:invalid:not(:placeholder-shown) {
        border-color: red;
      }
    }
    input:invalid:not(:placeholder-shown) + .form-error {
      display: block;
    }

    .form-error {
      float: left;
      color: red;
      opacity: 0.8;
      text-align: left;
      font-size: 12px;
      margin-top: 3px;
      display: none;
    }
  }
}

// ***** RIGHT SIDE START *****

.right-content {
  top: 5vh;
  bottom: 10vh;
  text-align: center;
  position: fixed;
  z-index: 100;
  height: 90%;
  right: 20%;
  width: 19%;
  font-weight: 300;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  background: url(../img/bg-test-right.png) no-repeat;
  background-position: center bottom;
  background-size: 150%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.15);

  .btn-big {
    padding: 25px 0;
    border-radius: 5px 5px 0 0;
    background-color: $btn-big-color;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    transition: 0.5s;

    &:hover {
      background-color: darken($btn-big-color, 10%);
    }
  }

  .avatar {
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 150px;
    height: 150px;

    .dot {
      position: absolute;
      width: 20px;
      height: 20px;
      margin: -10px 0 0 -10px;
      @include gradient-dot-gradient($direction, $rotated-dot);
      border-radius: 100%;
      top: 50%;
      left: 50%;
      -webkit-animation: circle 10s 1s linear infinite;
      animation: circle 10s linear 1s infinite;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 2px solid $first-color;
      border-radius: 100%;
    }

    img {
      margin-top: 15px;
      width: 80%;
      border-radius: 50%;
    }
  }

  h2 {
    margin-top: 20px;
    color: $text-dark-color;
    font-weight: 300;

    &:after {
      margin: 0 auto;
      margin-top: 15px;
      content: '';
      display: block;
      height: 1px;
      width: 70%;
      background-color: #d2d2d2;
    }
  }

  p {
    margin: 0 auto;
    display: inline-block;
    width: 50%;
    margin-top: 20px;
    font-size: 1.3rem;
    color: $text-light-color;
  }
}

@keyframes circle {
  from {
    transform: rotate(0deg) translate(-75px) rotate(0);
  }
  to {
    transform: rotate(360deg) translate(-75px) rotate(-360deg);
  }
}
// ***** RIGHT SIDE END *****

// ***** MEDIA *****

@media screen and (max-width: $desktop) {
  #slide2 {
    .content-slide2 {
      .box-header {
        .logo {
          p {
            font-size: 1.5rem;
          }
        }
      }
      .boxes {
        margin-top: 12px;
        .link {
          padding: 48px 30px;
          flex: 0 0 49%;
          min-width: 1vw;

          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  #slide1,
  #slide3 {
    .content-slide1 {
      .wrapper {
        margin: 1rem 3rem;
        p {
          font-size: 1rem;
        }
        h1 {
          font-size: 3rem;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .slides {
    .slide {
      .content {
        overflow: scroll;
      }
    }
  }
  #slide1,
  #slide3 {
    .content-slide1 {
      padding: 10px;
      .wrapper {
        .logo {
          img {
            width: 20%;
          }
        }
        p {
          font-size: 1.2rem;
        }

        h1 {
          width: 48%;
          font-size: 3rem;
        }
        a,
        .btn-submit {
          font-size: 1rem;
          margin-top: 2rem;
          padding: 1rem 4.2rem;
        }

        .form {
          .input {
            padding: 1rem;
            width: 250px;
            margin: 0 15px;
            border-radius: 25px;
            border: 1px solid #d2d2d2;
            font-size: 1rem;
            font-weight: 600;
            opacity: 0.7;

            &:valid:not(:placeholder-shown) {
              border-color: green;
            }

            &:invalid:not(:placeholder-shown) {
              border-color: red;
            }
          }
          input:invalid:not(:placeholder-shown) + .form-error {
            display: block;
          }

          .form-error {
            padding: 10px;
            float: left;
            color: red;
            opacity: 0.8;
            text-align: left;
            font-size: 1rem;
            margin-top: 3px;
            display: none;
          }
        }
      }
    }
  }
  .right-content {
    display: none;
  }
  .slides {
    .slide {
      .content {
        width: 80%;
        left: 10%;
      }
    }
  }
  #slide2 {
    .content-slide2 {
      .boxes {
        .link {
          flex: 0 0 49%;
          min-width: 1vw;

          div {
            img {
              width: 15%;
            }
          }
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $phablet) {
  .right-content {
    display: none;
  }

  .slides {
    .slide {
      .content {
        width: 82%;
        left: 10%;
      }
    }
  }

  #slide2 {
    .content-slide2 {
      .boxes {
        .link {
          flex: 0 0 49%;
          min-width: 1vw;
          text-align: center;

          div {
            img {
              float: none;
              width: 20%;
            }
          }
          p {
            width: 100%;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  #slide1,
  #slide3 {
    .content-slide1 {
      .wrapper {
        h1 {
          width: 62%;
        }
      }
    }
  }
}

@media screen and (max-width: $phone) {
  .right-content {
    display: none;
  }

  #slide1,
  #slide3 {
    .content-slide1 {
      padding: 15px;
      text-align: left;

      .wrapper {
        margin: 1rem 1.5rem;

        .logo {
          img {
            width: 50%;
          }
        }

        p {
          font-size: 0.8rem;
        }

        h1 {
          font-size: 1.7rem;
        }
        a,
        .btn-submit {
          margin: 0;
          font-size: 0.7rem;
          padding: 0.8rem 4rem;
        }

        .form {
          .input {
            padding: 0.4rem;
            width: 200px;
            margin: 10px 0;
            font-size: 0.7rem;

            &:valid:not(:placeholder-shown) {
              border-color: green;
            }

            &:invalid:not(:placeholder-shown) {
              border-color: red;
            }
          }
          input:invalid:not(:placeholder-shown) + .form-error {
            display: block;
          }

          .form-error {
            float: left;
            color: red;
            opacity: 0.8;
            text-align: left;
            font-size: 0.6rem;
            display: none;
          }
        }
      }
    }
  }

  #slide2 {
    .content-slide2 {
      .box-header {
        border-radius: 5px;
        height: 150px;
        width: 100%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        text-align: left;
        padding: 1rem 1.5rem;

        .logo {
          img {
            width: 40%;
            margin-left: 0.5rem;
          }
          p {
            margin-top: 3rem;
            margin-left: 0.5rem;
            font-size: 1.2rem;
          }
        }
      }

      .boxes {
        .link {
          padding: 15px 10px;
          flex: 0 0 49%;
          text-align: left;
          background-position: bottom center;
          background-size: 100%;
          line-height: 1.5;
          text-align: center;
          div {
            img {
              margin: 0;
              float: none;
              width: 30%;
            }
          }

          p {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}

///// *****************

@media screen and (max-width: $phone-s) {
  .right-content {
    display: none;
  }

  #slide1,
  #slide3 {
    .content-slide1 {
      padding: 15px;
      text-align: left;
      background-position: bottom center;
      background-size: 150%;

      .wrapper {
        margin: 1rem 1.5rem;

        .logo {
          img {
            width: 50%;
          }
        }

        p {
          font-size: 0.8rem;
        }

        h1 {
          font-size: 1.5rem;
        }
        a,
        .btn-submit {
          margin-top: 0;
          font-size: 0.7rem;
          padding: 0.5rem 2rem;

          &:hover {
            padding: 0.5rem 2.5rem;
          }
        }

        .form {
          .input {
            padding: 0.3rem;
            width: 150px;
            margin: 10px 0;
            border-radius: 25px;
            border: 1px solid #d2d2d2;
            font-size: 0.7rem;
            font-weight: 600;
            opacity: 0.7;

            &:valid:not(:placeholder-shown) {
              border-color: green;
            }

            &:invalid:not(:placeholder-shown) {
              border-color: red;
            }
          }
          input:invalid:not(:placeholder-shown) + .form-error {
            display: block;
          }

          .form-error {
            padding-bottom: 10px;
            float: left;
            color: red;
            opacity: 0.8;
            text-align: left;
            font-size: 0.5rem;
            display: none;
          }
        }
      }
    }
  }

  #slide2 {
    .content-slide2 {
      .box-header {
        border-radius: 5px;
        height: 150px;
        width: 100%;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        text-align: left;
        padding: 1rem 1.5rem;

        .logo {
          img {
            width: 50%;
            margin-left: 0.5rem;
          }
          p {
            margin-top: 3rem;
            margin-left: 0.5rem;
            font-size: 1rem;
          }
        }
      }

      .boxes {
        .link {
          padding: 5px 5px;
          flex: 0 0 49%;
          text-align: left;
          background-position: bottom right;
          background-size: 90%;
          line-height: 1.5;
          min-height: 100px;
          text-align: center;

          div {
            img {
              margin: 0;
              float: none;
              margin: 10px 0 0 10px;
              width: 20%;
            }
          }

          p {
            margin: 0;
            font-size: 0.6rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}
